
body {
  background-color:#9be7e8;
  width: 600px;
  margin: 0 auto;
}

h1,h2,h3,h4,h5 {
  color: #750e24
}


span {

font-weight: bold; color: red;
}

  .navigation{
  	padding:0px;
  	text-align:left;
  }

  a, a img{
  	text-decoration:none;
  	border:0;
  	outline:none;
    color:#750e24;
  }

  .footer{

  	text-align:center;
  	font-size:12px;
  	font-family:Arial, Helvetica, sans-serif;
  	padding:30px 0;
  	clear:both;
  }

  
