


body {
  background-color:#9be7e8;
  width: 600px;
  margin: 0 auto;
  }

h1,h2,h3,h4,h5 {
  color: #750e24
}

a, a img{
	text-decoration:none;
	border:0;
	outline:none;
  color:#750e24;
}

  span {

  font-weight: bold; color: red;
}

ul {
	list-style-type:square;
}

.navigation{
	padding:0px;
	text-align:left;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;

  list-style: none;
  margin: 0;
  background: #750e24;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #9be7e8;
}

.navigation a:hover {
  background: #1565C0;
}

  .navigation a {
    text-align: right;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }

#two {
  position: relative;
  top: 10px;
  left: 2px;
  background: black;
  color: white;
  padding-left: 20px; padding-top: 20px; padding-bottom: 20px
  }

table {
  border: 2px solid blue;
  border-collapse: collapse;
  text-decoration-color: #de9d10; font-family: inherit; font-weight: normal;
  display: inline-table;
  margin: 5em; margin-left: auto;

}

tr {
  background-color: white;   border: 2px solid black;
}

th {
  border: 2px solid black;
  text-align: center;
 }
td {
  border: 2px solid black;
  text-align: center;
 }

.footer{

	text-align:center;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	padding:30px 0;
	clear:both;
}

.content p{
	color:#000000;
	font-size:13px;
	line-height:20px;
	padding-bottom:10px; padding-left:20px; padding-top: 10px;
	text-align:justify;
	  border: 2px solid red;
    background-color: white; width: 80%;
}

.form{
	margin:30px 0 0 0;
	padding:0px;
}

.form input, .form textarea{
	display:block;
	border-radius:5px;
	border:1px solid #999999;
	padding:5px;
	width:98%;
	margin:10px 0px;
}

.form input[type="submit"]{
	width:100%;
	cursor:pointer;
	background:#000000;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
}
